footer {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Increased height */
  padding: 0 40px; /* Adds padding to the left and right */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  .footer-section {
    display: flex;
    align-items: center;
  }

  .spacer {
    flex: 1; /* Spacer takes up available space */
  }

  .footer-button {
    background-color: #9c0abf; /* New Purp */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    text-decoration: none;

    &:hover {
      background-color: darken(#9c0abf, 10%); /* Darker purp on hover */
    }
  }

  a.footer-button {
    text-decoration: none; /* Remove underline from link */
  }
}

