<div class="monthly-wrapped-page">
  <app-loader [loading]="loading"></app-loader>
  <div *ngIf="!hasOptedIn" class="opt-in-section">
    <h2>Join Monthly Wrapped</h2>
    <p>Sign up to get your monthly music insights and trends.</p>
    <p>Receive Monthly email with listening trends as well as a playlist downloaded to your profile.</p>
    <button class="opt-in-button" (click)="signUpForWrapped()">Sign Up</button>
  </div>

  <div *ngIf="hasOptedIn && !hasData" class="no-data-section">
    <h2>Welcome to Monthly Wrapped!</h2>
    <p>Your insights will be available next month once we gather more data. Check back on the 1st of the month!</p>
  </div>

  <div *ngIf="hasOptedIn && hasData" class="charts-section">
    <div class="charts-container">
      <h2>Top 25 Songs</h2>
      <div class="chart">
        <div *ngFor="let song of topSongShortLastMonth; let i = index" class="chart-item">
          <span class="ranking">#{{ i + 1 }}</span>
          <span class="name">{{ song.name }}</span>
          <span class="change-indicator" [ngClass]="getIndicatorClass(song.rankChange)">{{ song.rankChange }}</span>
        </div>
      </div>
    </div>

    <div class="charts-container">
      <h2>Top 25 Artists</h2>
      <div class="chart">
        <div *ngFor="let artist of topArtistShortLastMonth; let i = index" class="chart-item">
          <span class="ranking">#{{ i + 1 }}</span>
          <span class="name">{{ artist.name }}</span>
          <span class="change-indicator" [ngClass]="getIndicatorClass(artist.rankChange)">{{ artist.rankChange }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
