<div class="playlist-generator">
  <h1>Playlist Generator</h1>
  <form (ngSubmit)="generatePlaylist()">
    <div class="form-row">
      <div class="form-group">
        <div class="card">
          <label for="releaseStartDate">Release Start Date:</label>
          <input type="date" id="releaseStartDate" [(ngModel)]="releaseStartDate" name="releaseStartDate" required>
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="releaseEndDate">Release End Date:</label>
          <input type="date" id="releaseEndDate" [(ngModel)]="releaseEndDate" name="releaseEndDate" required>
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="savedStartDate">Saved Start Date:</label>
          <input type="date" id="savedStartDate" [(ngModel)]="savedStartDate" name="savedStartDate" required>
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="savedEndDate">Saved End Date:</label>
          <input type="date" id="savedEndDate" [(ngModel)]="savedEndDate" name="savedEndDate" required>
        </div>
      </div>
    </div>

    <h2>Audio Features</h2>

    <div class="form-row">
      <div class="form-group">
        <div class="card">
          <label for="acousticness">Acousticness:</label>
          <input type="number" id="acousticnessMin" [(ngModel)]="filters.acousticness.min" name="acousticnessMin" step="0.01" min="0" max="1" placeholder="Min">
          <input type="number" id="acousticnessMax" [(ngModel)]="filters.acousticness.max" name="acousticnessMax" step="0.01" min="0" max="1" placeholder="Max">
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="danceability">Danceability:</label>
          <input type="number" id="danceabilityMin" [(ngModel)]="filters.danceability.min" name="danceabilityMin" step="0.01" min="0" max="1" placeholder="Min">
          <input type="number" id="danceabilityMax" [(ngModel)]="filters.danceability.max" name="danceabilityMax" step="0.01" min="0" max="1" placeholder="Max">
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="energy">Energy:</label>
          <input type="number" id="energyMin" [(ngModel)]="filters.energy.min" name="energyMin" step="0.01" min="0" max="1" placeholder="Min">
          <input type="number" id="energyMax" [(ngModel)]="filters.energy.max" name="energyMax" step="0.01" min="0" max="1" placeholder="Max">
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="instrumentalness">Instrumentalness:</label>
          <input type="number" id="instrumentalnessMin" [(ngModel)]="filters.instrumentalness.min" name="instrumentalnessMin" step="0.01" min="0" max="1" placeholder="Min">
          <input type="number" id="instrumentalnessMax" [(ngModel)]="filters.instrumentalness.max" name="instrumentalnessMax" step="0.01" min="0" max="1" placeholder="Max">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="card">
          <label for="liveness">Liveness:</label>
          <input type="number" id="livenessMin" [(ngModel)]="filters.liveness.min" name="livenessMin" step="0.01" min="0" max="1" placeholder="Min">
          <input type="number" id="livenessMax" [(ngModel)]="filters.liveness.max" name="livenessMax" step="0.01" min="0" max="1" placeholder="Max">
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="loudness">Loudness (dB):</label>
          <input type="number" id="loudnessMin" [(ngModel)]="filters.loudness.min" name="loudnessMin" placeholder="Min">
          <input type="number" id="loudnessMax" [(ngModel)]="filters.loudness.max" name="loudnessMax" placeholder="Max">
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="speechiness">Speechiness:</label>
          <input type="number" id="speechinessMin" [(ngModel)]="filters.speechiness.min" name="speechinessMin" step="0.01" min="0" max="1" placeholder="Min">
          <input type="number" id="speechinessMax" [(ngModel)]="filters.speechiness.max" name="speechinessMax" step="0.01" min="0" max="1" placeholder="Max">
        </div>
      </div>
      <div class="form-group">
        <div class="card">
          <label for="tempo">Tempo (BPM):</label>
          <input type="number" id="tempoMin" [(ngModel)]="filters.tempo.min" name="tempoMin" placeholder="Min">
          <input type="number" id="tempoMax" [(ngModel)]="filters.tempo.max" name="tempoMax" placeholder="Max">
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="isButtonInactive">Generate Playlist</button>
  </form>
</div>
