.playlist-generator {
  background-color: #121212; /* Black background */
  color: #ffffff; /* White text color */
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */

    .form-group {
      flex: 1 1 calc(23% - 10px); /* Adjust width for four items per row */
      margin-bottom: 15px; /* Space below each item */
      margin-right: 10px; /* Right margin for spacing between cards */

      &:nth-child(4n) {
        margin-right: 0; /* Remove margin for the last item in each row */
      }

      .card {
        background-color: #282828; /* Dark card background */
        border-radius: 15px; /* More rounded corners */
        padding: 15px; /* Padding inside the card */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
        display: flex; /* Use flexbox to center items */
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center items horizontally */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */

        &:hover {
          background-color: #9c0abf; /* Green background on hover */
        }

        label {
          display: block;
          margin-bottom: 5px;
          text-align: center; /* Center label text */
        }

        input {
          width: 90%; /* Use 90% width for better spacing */
          padding: 12px; /* Increased padding for a larger input */
          border: none;
          border-radius: 15px; /* More rounded corners */
          background-color: #383838; /* Dark input background */
          color: #ffffff; /* White text color */
          transition: background-color 0.3s ease;

          &:focus {
            background-color: #3a3a3a; /* Slightly lighter on focus */
            outline: none; /* Remove default outline */
          }
        }
      }
    }
  }

  button {
    background-color: #9c0abf; /* Default green color */
    color: white; /* Default text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background transition */
  }

  button:disabled {
    background-color: #b3b3b3; /* Lighter gray color when disabled */
    color: #666666; /* Dimmed text color */
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.7; /* Slightly transparent effect */
  }
  button.inactive {
    background-color: lightgray; /* Change to your desired inactive color */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
    opacity: 0.6; /* Make it look disabled */
  }

  button:hover:not(:disabled) {
    background-color: #17b74b; /* Darker green on hover when enabled */
  }
}
