<div class="toolbar">
  <h2 class="app-title">XOMIFY
  </h2>
  <div class="tabs">
    <div *ngIf="isLoggedIn()">
      <a routerLink="/my-profile" routerLinkActive="active">My Profile</a>
      <a routerLink="/top-songs" routerLinkActive="active">Top Songs</a>
      <a routerLink="/top-artists" routerLinkActive="active">Top Artists</a>
      <a routerLink="/top-genres" routerLinkActive="active">Top Genres</a>
      <a routerLink="/playlist-generator" routerLinkActive="active">Playlist Generator</a>
      <a routerLink="/wrapped" routerLinkActive="active">Wrapped</a>
    </div>
  </div>
</div>
