.toolbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between; // Space between title and tabs
  align-items: center; // Center vertically
}

.hamburger {
  cursor: pointer;
  font-size: 24px; // Size of the hamburger icon
  display: none; // Hide by default
}

.dropdown-menu {
  display: flex; // Default to flex for larger screens
  flex-direction: row; // Horizontally align the tabs
}

.dropdown-menu a {
  padding: 5px 10px;
  margin-right: 10px;
}

.dropdown-open {
  display: flex; // Show dropdown when open
  flex-direction: column; // Stack links vertically
}

@media (max-width: 768px) {
  .hamburger {
    display: block; // Show hamburger icon on mobile
  }

  .tabs {
    display: none; // Hide tabs on mobile
  }

  .dropdown-menu {
    display: none; // Hide dropdown menu by default
    background-color: #333; // Match the toolbar background
    position: absolute; // Position the dropdown menu
    top: 50px; // Position below the toolbar
    left: 0;
    right: 0;
    z-index: 10; // Ensure it's above other content
  }

  .dropdown-open {
    display: flex; // Show dropdown when toggled
  }
}
