<div class="artist-profile-page">
  <div class="artist-card">
    <div class="artist-header">
      <h1 class="artist-title">{{ artist.name }}</h1>
      <p class="artist-ranking">Popularity: {{ artist.popularity }}/100</p>
    </div>

    <div class="artist-content">
      <div class="artist-image-container">
        <img [src]="artist.image" alt="{{ artist.name }}" class="artist-image" />
      </div>

      <div class="top-songs">
        <h2>Top Tracks</h2>
        <div *ngFor="let song of artist.topTracks | slice:0:5; let i = index" class="song-card"  (mouseover)="playPreview(song.previewUrl)" (mouseleave)="stopPreview()">
          <span class="song-ranking">{{ i + 1 }}.</span>
          <img [src]="song.image" alt="{{ song.name }} cover" class="song-cover" />
          <div class="song-details">
            <h3 class="song-title">{{ song.name }}</h3>
            <p class="song-artists">{{ formatArtists(song.artists) }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="related-artists">
      <h2>Related Artists</h2>
      <div class="related-artists-list">
        <div *ngFor="let related of artist.relatedArtists | slice:0:3;" class="related-artist" (click)="goToArtist(related.id)">
          <img [src]="related.image" alt="{{ related.name }}" class="related-artist-image" />
          <p class="related-artist-name">{{ related.name }}</p>
        </div>
      </div>
    </div>

    <button class="go-back-button" (click)="goBack()">Go Back</button>
  </div>
</div>
