/* Add global styles or override existing styles here */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  .content {
    margin-top: 20px;
    text-align: center;
    margin-top: 100px; /* Adjust the margin-top value to create spacing between toolbar and content */
  }

  .toolbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 10px;
  }
